{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
	<p>Olympic dashboard app</p>
  <ul>
    <p>Web-app that can show interesting facts about the Olympics from Athens 1896 to Rio 2016!</p>
  </ul>

	<h2>Data set:</h2>
	<ul>
		<li>//www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results</li>
	</ul>

	<h2>Made by:</h2>
	<ul>
		<li>xfm358   Anna Bartholdy Spanggaard</li>
		<li>rjs561 Daniel Nicholas Mølhave</li>
	</ul>

	<h2>Git repository:</h2>
	<ul>
		<li>https://github.com/daniel-exe/DIS_project</li>
	</ul>
{% endblock content %}
