{% extends "layout.html" %}
{% block content %}
    <h1>Top 10 Countries by Gold Medals</h1>

    <div class="content-section">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Country (NOC)</th>
            <th scope="col">Gold Medals</th>
          </tr>
        </thead>
        <tbody>
        {% for country in countries %}
          <tr>
            <td>{{ country[0] }}</td>
            <td>{{ country[1] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock content %}